/* Global styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

/*  Header */
.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  overflow: auto;
  font-size: 1.2em;
  color: white;
}

.header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header div {
  width: 25%;
  padding-left: 50px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.header ul li {
  list-style-type: none;
  padding: 10px 20px;
}

.header ul li:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.username-text {
  padding-left: 10px;
}

/* Login */
.background-login {
  background: url("login-background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 400px;
  height: 400px;
  border-radius: 25px;
  background: transparent;
  backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.login-content h1 {
  font-weight: bolder;
  font-size: 3em;
  margin-bottom: 10px;
}

.login-content input {
  width: 75%;
  height: 30px;
  border-radius: 50px;
  padding-left: 15px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(255, 255, 255);
  background: transparent;
  border: 1px solid rgba(255, 255, 255);
  color: rgb(255, 255, 255);
}

.input-box {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box input {
  width: 75%;
  height: 30px;
  border-radius: 50px;
  padding-left: 15px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(255, 255, 255);
  background: transparent;
  border: 1px solid rgba(255, 255, 255);
  color: rgb(255, 255, 255);
}

.input-box input:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255);
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  right: 60px;
}

.login-content button {
  width: 77%;
  margin-top: 25px;
  height: 35px;
  border-radius: 50px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(255, 255, 255);
  background: transparent;
  border: 1px solid rgba(255, 255, 255);
  color: white;
}

.active-button:hover {
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
}

.auth-content {
  margin-top: 20px;
}
.auth-content span {
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.auth-content span:hover {
  text-decoration: underline;
}

.info-text {
  margin-top: 25px;
  font-size: 1.2em;
  font-weight: bold;
}

.success-text {
  color: green;
}

.error-text {
  color: red;
}
/* Main */

.background-main {
  background: url("main-background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 400px;
  height: 350px;
  border-radius: 25px;
  background: transparent;
  backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-container button {
  border-radius: 50px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(255, 255, 255);
  background: transparent;
  border: 1px solid rgba(255, 255, 255);
  color: white;
  width: 75%;
  margin-bottom: 40px;
}
.main-container button:hover {
  border: 2px solid rgba(255, 255, 255);
  cursor: pointer;
}

/* Add song */

.addsong-background {
  background: url("addSong-background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: auto;
  color: white;
}

.addsong-container {
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: transparent;
  backdrop-filter: blur(5px);
  padding-bottom: 10px;
  margin-top: 100px;
}

.addsong-container input {
  font-size: 1.2em;
  margin: 10px;
  font-weight: bold;
  border-radius: 50px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255);
  background: transparent;
  border: 1px solid rgba(255, 255, 255);
  color: rgb(255, 255, 255);
}

.addsong-container input:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255);
}

.addsong-container input::placeholder {
  color: white;
}

.addsong-container button {
  margin-top: 10px;
  background-color: rgba(255, 255, 255);
  background: transparent;
  border: 1px solid rgba(255, 255, 255);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 25px;
  width: 90%;
}

.addsong-container button:hover {
  border: 2px solid rgba(255, 255, 255);
  cursor: pointer;
}

.lyrics-container {
  width: 50%;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}
/* Highscores styles */
.highscore-background {
  background: url("highscore-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.highscore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #001f3f; /* Dark blue background */
  color: white; /* White text */
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  margin: auto;
  font-family: "Lucida Console", Monaco, monospace;
}

.highscore-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #0074d9; /* Light blue border */
  font-size: 18px;
}

table thead {
  background-color: #0074d9; /* Light blue header background */
  color: white;
}

table tbody tr:nth-child(odd) {
  background-color: #001f3f;
}

table tbody tr:nth-child(even) {
  background-color: #003366;
}

table tbody tr:hover {
  background-color: #0074d9; /* Light blue hover */
  cursor: pointer;
}

table td:first-child {
  font-weight: bold;
}

table td {
  color: white;
}

/* Quiz styles */
.quiz-background {
  background-color: #001f3f;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  margin: auto;
  color: white;
}

.question-container {
  border: 2px solid white;
  border-radius: 50px;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.answer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-bottom: 50px;
}

.answer-container button {
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  background-color: #001f3f;
  color: white;
}

.answer-container button.hoverable:hover {
  border: 2px solid rgba(255, 255, 255);
  cursor: pointer;
}

button.correct-answer {
  color: green;
  border: 3px solid green;
}

button.wrong-answer {
  color: red;
  border: 3px solid red;
}
